.telegram{
  background-color : #1E96C8;

}
.telegram2{
  background-color: #FFFFFF;
  color: #295093;
}
.footer{
  background-color: #295093;
}
.bolshe{
background-color: #295093;
color: #FFFFFF;
}
.covid{
  background-color: #F6F6F9;
}
.header{
  background-color: #F6F6F9;
}
.nav{
  background-color: #F6F6F9;
}
.banner{
  background-color: #F6F6F9;
}
.bell{
  background-color: #EFBA54;
}
.bel{
  background-color: #FE5C28;
  color: #FFFFFF;
}
h2,h3,h4{
color: #202020;
}
p{
  color: #434343;
}
time{
  color: #7688A4;
}
hr{
  color:#E4E4E4;
}
a{
  color: #515151;
}
.kurs{
color: #285193;}
.logo{
  background-color: #FFFFFF;
}
.footer2{
  color: #FFFFFF;
}
ul{
  background-color: #F1F1F1;
}
